<!DOCTYPE HTML>
<html>
<body>
<style>
    form{
        background-color:#FFFFE0;
        width:90%;
        margin:0 auto;
        padding:15px;
    }
</style>
<form method="post">
    <fieldset>
        <legend><h1>Форма отправки заявки на проведение работ</h1></legend>
        <label> Введите название компании: <input type="text" size="60" name="company" placeholder="Организация"></input></label><br><br>
        <label> Введите контактные данные: <input type="text" size="60" name="contact" placeholder="ФИО/телефон"></input></label><br><br>
        <label> Введите описание планируемых работ: <input type="text" size="60" name="task" placeholder="Планируемые работы"></input></label><br><br>
        <label><button type="submit" style="color: orange; font-size: 2em">Отправить заявку</button></label>
    </fieldset>
</form>
</body>
</html>